{% if exposureProfile == "external" %}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ appName }}
  namespace: {{ namespace }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  ingressClassName: nginx
  rules:
    - host: {{ publicHost }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ appName }}
                port:
                  number: 80
  tls:
    - hosts:
        - {{ publicHost }}
      secretName: {{ appName }}-tls
{% endif %}
