provider "aws" {
  region = var.region

  default_tags {
    tags = {
      app         = var.app_name
      team        = var.team_name
      environment = var.environment
      managed-by  = "golden-path"
    }
  }
}

locals {
  prefix      = "${var.app_name}-${var.environment}"
  {% if enableLoadBalancer %}
  lb_endpoint = aws_lb.app.dns_name
  {% else %}
  lb_endpoint = aws_instance.app.public_ip
  {% endif %}
  {% if enableDatabase %}
  db_endpoint = aws_db_instance.app.endpoint
  {% endif %}
}