// copy/paste in .env file and put elasticsearch credentials

# A modifier

ELASTICSEARCH_HOSTS=https://elasticsearch-wip.developpement.insee.fr:9200
PARSER_API=https://localhost:8000
ELASTICSEARCH_USERNAME=<change me>
ELASTICSEARCH_PASSWORD=<change me>
LOG_FILE_PATH=logs/app.log